<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let a=0; a<category.length;a++){ %>
    <tr>
      <td><%= a+1 %></td>
      <td><%= category[a].name %></td>
      <td>
        <form action="/category/delete/<%= category[a]._id %>?_method='delete'" method='POST'>
          
          <a href='/category/edit/<%= category[a]._id %>' class='btn btn-info btn-sm'>
            <i class='fas fa-pencil-alt'></i>
            Ubah
          </a>
          <button class='btn btn-danger btn-sm'>
            <i class='fas fa-trash'></i>
            Hapus
            </button>
          <!-- <a href='/category/<%= category[a]._id %>' class='btn btn-danger'>
            <i class='fas fa-trash'></i>
            Hapus
          </a> -->
          
      </form>
      </td>
    </tr>
    <% } %>
  </tbody>
  </table>