<table id="example2" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>Nama</th>
        <th>Nama Bank</th>
        <th>No. Rekening</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% for(let a=0; a<bank.length;a++){ %>
      <tr>
        <td><%= a+1 %></td>
        <td><%= bank[a].name %></td>
        <td><%= bank[a].namaBank %></td>
        <td><%= bank[a].noRekening %></td>
        <td>
          <form action="/bank/delete/<%= bank[a]._id %>?_method=DELETE" method='POST'>
            
            <a href="/bank/edit/<%= bank[a]._id %>" class='btn btn-info btn-sm'>
              <i class='fas fa-pencil-alt'></i>
              Ubah
            </a>
            <button class='btn btn-danger btn-sm'>
              <i class='fas fa-trash'></i>
              Hapus
              </button>
           
            
        </form>
        </td>
      </tr>
      <% } %>
    </tbody>
    </table>